[submodule "source"]
	path = source
	url = https://github.com/vbcq-volley/content.git
[submodule "plugin"]
	path = plugin
	url = https://github.com/vbcq-volley/plugin.git
[submodule "dist"]
	path = dist
	url = https://github.com/vbcq-volley/plugin-build.git
[submodule "git-win"]
	path = git-win
	url = https://github.com/vbcq-volley/git-win.git
