name: Size

on:
  pull_request:
    types: [opened, synchronize]
permissions:
      contents: write
      pull-requests: write
jobs:
  update_labels:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions-ecosystem/action-size@v2
        id: size
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          size_xs_label: release/patch
          size_s_label: release/patch
          size_m_label: release/minor
          size_l_label: release/minor
          size_xl_label: release/major
          size_xxl_label: release/major

      - uses: actions-ecosystem/action-remove-labels@v1
        with:
          github_token: ${{ secrets.github_token }}
          labels: ${{ steps.size.outputs.stale_labels }}

      - uses: actions-ecosystem/action-add-labels@v1
        with:
          github_token: ${{ secrets.github_token }}
          labels: ${{ steps.size.outputs.new_label }}

      - name: Merge PR
        uses: actions/github-script@v6
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            github.rest.pulls.merge({
              owner: context.repo.owner,
              repo: context.repo.repo,
              pull_number: context.issue.number,
              merge_method: 'squash'
            })